.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 750px;
  height: 100%;
  justify-content: center;
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &-result,
  &-controllers {
    min-height: 120px;
    align-content: center;
  }
  &-turn-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    min-height: 40%;
    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      max-height: 360px;
    }
    li {
      list-style: none;
      margin: 0 0.5rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1rem;
      margin: 8px 15%;
      small {
        font-size: 0.625rem;
      }
      &:nth-child(odd) {
        align-self: flex-start;
        text-align: left;
        border-right: 1px solid #000;
        width: 50%;
      }
      &:nth-child(even) {
        align-self: flex-end;
        text-align: right;
        border-left: 1px solid #000;
        width: 50%;
      }
    }
  }

  @media screen and (min-width: 768px){
    gap: 2rem;
  }
}
